.headers {
    text-align: center;
    padding-top: 8pt;
    padding-bottom: 8pt;
}

#leaderboard {
    display: flex;
    align-items: center;
}

.full_name {
    padding-left: 15pt;
    margin: 0pt;
}

.profile_picture {
    width: 37pt;
    height: 37pt;
}

.grid_picture {
    width: 65pt;
    height: 65pt;
    box-sizing: border-box;
    border: 3px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.place {
    position: absolute;
    margin-top: -13pt;
    font-weight: bold;
    color: white;
    background: black;
    text-align: center;
    vertical-align: middle;
    line-height: 20pt;
    width: 20pt;
    height: 20pt;
}

.points {
    padding-left: 15pt;
    color: gray;
}

.title_image {
    width: 180pt;
}

.leader-group {
    margin-bottom: 20pt;
}

.v-alert-warning {
    margin-top: 20pt;
    text-align: center;
}