<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KSSREM4RMB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KSSREM4RMB');
    </script>

    <title>Verķu Viktorīna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <div class="headers">
            <img class="title_image" src="/static/vv.png">
            <h4 th:text="${seriesTitle}"/>
        </div>

        <ul class="list-group" >
            <li id="leaderboard" class="list-group-item" th:each="participant: ${leaderboard}">
                <div>
                    <img th:src="${participant.pictureUrl}"  class="rounded-circle profile_picture">
                    <div class="place rounded-circle" th:text="${'#' + participant.place }">#1</div>
                </div>
                <div>
                    <h6 class="full_name" th:text="${ participant.fullName == null || !participant.fullName.equals('') ? participant.fullName : participant.username }"/>
                    <div class="points" th:if="${participant.correctAnswers == 1}" th:text="${participant.correctAnswers + ' punkts'} "/>
                    <div class="points" th:if="${participant.correctAnswers != 1}" th:text="${participant.correctAnswers + ' punkti'} "/>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>