<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script th:if="${enableGoogleAnalytics}" async src="https://www.googletagmanager.com/gtag/js?id=G-KSSREM4RMB"></script>
    <script th:if="${enableGoogleAnalytics}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KSSREM4RMB');
    </script>

    <title>Verķu Viktorīna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="static/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">

        <div th:if="${pullFailed}" class="alert alert-warning v-alert-warning" role="alert">
            Ehhh. Dati nav tie jaunākie. Instagram pasūtīja dillēs. Meklēju problēmas risinājumu.
        </div>

        <div class="headers">
            <img class="title_image" src="/static/poker.png">
            <h4 th:text="${seriesTitle}"/>
        </div>

        <!--div class="container">
            <div class="row headers">
                <div class="col">
                    <h1 style="color: deeppink">♀</h1>
                    <h6>Dāmas</h6>
                    <label><div class="badge badge-light" th:text="${leaderboard.femaleCount + ' punkti'}"/></label>
                </div>

                <div class="col">
                    <h1 style="color: darkblue">♂</h1>
                    <h6>Kungi</h6>
                    <lebel><div class="badge badge-light" th:text="${leaderboard.maleCount + ' punkti'}"/></lebel>

                </div>
            </div>
        </div-->

        <ul class="list-group leader-group " th:each="participant: ${leaderboard.leaders}">
            <li th:class="${participant.key == 1 ? 'list-group-item list-group-item-success d-flex justify-content-between align-items-center' : 'list-group-item list-group-item-secondary d-flex justify-content-between align-items-center'}" >
                <h5 style="margin: 4pt 0pt 4pt 0pt" th:text="${participant.key + '. vieta'}"/>
                <span style="font-weight: bold;" class="badge badge-info badge-pill" th:text="${'&nbsp;'+ participant.value.size() + '&nbsp;'}"/>
            </li>

            <li id="leaderboard" class="list-group-item" th:each="participant: ${participant.value}">
                <div>
                    <img th:src="${'/ig-images/' + participant.username}"  class="rounded-circle profile_picture" onerror="this.onerror=null; this.src='/static/default_profile.jpeg'">
                </div>
                <div>
                    <h6 class="full_name" th:text="${ participant.fullName == null || !participant.fullName.equals('') ? participant.fullName : participant.username }"/>
                    <div class="points" th:if="${participant.correctAnswers == 1}" th:text="${participant.correctAnswers + ' punkts'} "/>
                    <div class="points" th:if="${participant.correctAnswers != 1}" th:text="${participant.correctAnswers + ' punkti'} "/>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>